langchain
langchain-community
langchain-groq
langchain-openai
langchain-huggingface
sentence-transformers
qdrant-client
fastapi
uvicorn
streamlit
python-dotenv
pandas
pymupdf
docling
pyjwt
pydantic
pydantic-settings
ragas
pytest
requests
fastembed
nemoguardrails
